@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
  background-color: #ecefff;
  scroll-behavior: smooth;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.underline {
  position: relative;
}

.underline::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #b6819f;
  transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.gradient {
  background: linear-gradient(115deg, #a05882 20%, #523143 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image {
  background-color: #ecefff;
}
